additional_parameters = ""
async_upload = false
base_weights_multiplier = 1
blocks_to_swap = 38
caching_latent_batch_size = 4
caching_latent_console_back = ""
caching_latent_console_num_images = 0
caching_latent_console_width = 80
caching_latent_debug_mode = ""
caching_latent_device = "cuda"
caching_latent_keep_cache = true
caching_latent_num_workers = 8
caching_latent_skip_existing = true
caching_teo_batch_size = 16
caching_teo_device = "cuda"
caching_teo_fp8_llm = false
caching_teo_keep_cache = true
caching_teo_num_workers = 8
caching_teo_skip_existing = true
caching_teo_text_encoder_dtype = "bfloat16"
caption_strategy = "folder_name"
clip = "F:/SECourses_Musubi_Trainer_v16/Training_Models_Wan/models_clip_open-clip-xlm-roberta-large-vit-huge-14.safetensors"
clip_vision_dtype = "bfloat16"
create_missing_captions = true
dataset_batch_size = 1
dataset_bucket_no_upscale = false
dataset_cache_directory = "cache_dir"
dataset_caption_extension = ".txt"
dataset_config = "F:/SECourses_Musubi_Trainer_v16/test_trainings\\wan_dataset_config_20250929_145649.toml"
dataset_config_mode = "Generate from Folder Structure"
dataset_enable_bucket = false
dataset_resolution_height = 960
dataset_resolution_width = 960
ddp_gradient_as_bucket_view = false
ddp_static_graph = false
ddp_timeout = 0
dim_from_weights = false
disable_prompt_enhancement = false
dit = "F:/SECourses_Musubi_Trainer_v16/Training_Models_Wan/wan2.1_t2v_14B_bf16.safetensors"
dit_dtype = "bfloat16"
dit_high_noise = ""
dynamo_backend = "no"
dynamo_mode = ""
dynamo_use_dynamic = false
dynamo_use_fullgraph = false
extra_accelerate_launch_args = ""
flash_attn = false
force_v2_1_time_embedding = false
fp8_base = true
fp8_scaled = true
fp8_t5 = false
full_bf16 = false
full_fp16 = false
generated_toml_path = "F:/SECourses_Musubi_Trainer_v16/test_trainings\\wan_dataset_config_20250929_145649.toml"
gpu_ids = "0"
gradient_accumulation_steps = 1
gradient_checkpointing = true
gradient_checkpointing_cpu_offload = true
learning_rate = 6e-5
log_config = false
log_prefix = ""
log_tracker_name = ""
log_with = ""
logging_dir = ""
lr_decay_steps = 0
lr_scheduler = "constant"
lr_scheduler_args = []
lr_scheduler_min_lr_ratio = 0
lr_scheduler_num_cycles = 1
lr_scheduler_power = 1
lr_scheduler_timescale = 0
lr_scheduler_type = ""
lr_warmup_steps = 0
main_process_port = 0
max_data_loader_n_workers = 2
max_grad_norm = 0
max_train_epochs = 200
max_train_steps = 90000
mem_eff_save = true
metadata_author = ""
metadata_description = ""
metadata_license = ""
metadata_tags = ""
mixed_precision = "bf16"
multi_gpu = false
network_alpha = 128
network_args = []
network_dim = 128
network_dropout = 0
network_module = "networks.lora_wan"
no_metadata = false
num_cpu_threads_per_process = 2
num_frames = false
num_machines = 1
num_processes = 1
offload_inactive_dit = false
one_frame = 81
optimizer_args = [ "scale_parameter=False,", "relative_step=False,", "warmup_init=False,", "weight_decay=0.01",]
optimizer_type = "AdaFactor"
output_dir = "F:/SECourses_Musubi_Trainer_v16/test_trainings"
output_name = "my-wan-lora"
parent_folder_path = "F:\\SECourses_Musubi_Trainer_v16\\test_trainings\\28_imgs_1328"
persistent_data_loader_workers = true
sage_attn = false
sample_at_first = false
sample_guidance_scale = 7
sample_height = 960
sample_negative_prompt = ""
sample_num_frames = 81
sample_output_dir = ""
sample_seed = 99
sample_steps = 20
sample_width = 960
save_every_n_epochs = 10
save_last_n_epochs = 0
save_last_n_epochs_state = 0
save_last_n_steps = 0
save_last_n_steps_state = 0
save_state = false
save_state_on_train_end = false
save_state_to_huggingface = false
scale_weight_norms = 0
sdpa = true
seed = 99
split_attn = false
t5 = "F:/SECourses_Musubi_Trainer_v16/Training_Models_Wan/umt5-xxl-enc-bf16.safetensors"
task = "t2v-14B"
text_encoder_dtype = "bfloat16"
training_comment = ""
training_mode = "LoRA Training"
vae = "F:/SECourses_Musubi_Trainer_v16/Training_Models_Wan/Wan2_1_VAE_bf16.safetensors"
vae_cache_cpu = false
vae_dtype = "bfloat16"
vae_tiling = false
wandb_run_name = ""
xformers = false
